.nav {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  list-style: none;
  margin: 0;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}


.nav :global(.active) {
  color: green;
}